<svg xmlns="http://www.w3.org/2000/svg" fill="none" width="1230" height="250">
    <foreignObject width="100%" height="100%">
        <div xmlns="http://www.w3.org/1999/xhtml">
            <style>
                * {
                    font-family: sans-serif;
                }

                table {
                    text-indent: 0;
                    border-color: inherit;
                    border-collapse: collapse;
                }

                svg {
                    display: block;
                    vertical-align: middle;
                }

                .bg-gray-50 {
                    background-color: rgb(249 250 251);
                }

                .odd\:bg-white:nth-child(odd) {
                    background-color: rgb(255 255 255);
                }

                .even\:bg-gray-50:nth-child(2n) {
                    background-color: rgb(249 250 251);
                }

                .even\:border-b:nth-child(2n) {
                    border-bottom-width: 1px;
                }

                .text-gray-500 {
                    color: rgb(107 114 128);
                }

                .text-gray-700 {
                    color: rgb(55 65 81);
                }

                .text-blue-600 {
                    color: rgb(28 100 242);
                }

                .text-center {
                    text-align: center;
                }

                .text-xs {
                    font-size: .75rem;
                    line-height: 1rem;
                }

                .text-sm {
                    font-size: .875rem;
                    line-height: 1.25rem;
                }

                .font-medium {
                    font-weight: 500;
                }

                .uppercase {
                    text-transform: uppercase;
                }

                .flex {
                    display: flex;
                }

                .shrink-0 {
                    flex-shrink: 0;
                }

                .justify-center {
                    justify-content: center;
                }

                .items-center {
                    align-items: center;
                }

                .gap-x-1 {
                    -moz-column-gap: .25rem;
                    column-gap: .25rem;
                }

                .w-7 {
                    width: 1.75rem;
                }

                .h-4 {
                    height: 1rem;
                }

                .h-7 {
                    height: 1.75rem;
                }

                .w-4-rem {
                    width: 4rem;
                }

                .w-4-5-rem {
                    width: 4.5rem;
                }

                .w-23-rem {
                    width: 23rem;
                }

                .py-2 {
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                }

                .py-3 {
                    padding-top: .75rem;
                    padding-bottom: .75rem;
                }

                .px-2 {
                    padding-left: .5rem;
                    padding-right: .5rem;
                }

                .px-6 {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }

                .border-b {
                    border-bottom-width: 1px;
                }

                .truncate {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            </style>
            {% autoescape false %}
                <table class="text-sm text-center text-gray-500">
                    <thead class="text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-2 py-3">
                            <div class="w-4-5-rem flex items-center justify-center">
                                {{ renderSvg('calendar') }}
                            </div>
                        </th>
                        <th scope="col" class="px-2 py-3">
                            <div class="w-23-rem"></div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="w-4-rem flex items-center justify-center">
                                {{ renderSvg('distance') }}
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="w-4-rem flex items-center justify-center">
                                {{ renderSvg('elevation') }}
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="w-4-rem flex items-center justify-center">
                                {{ renderSvg('time') }}
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="w-4-rem flex items-center justify-center">
                                {{ renderSvg('speed') }}
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="w-4-rem flex items-center justify-center">
                                {{ renderSvg('heart-rate') }}
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="w-4-rem flex items-center justify-center">
                                {{ renderSvg('calories') }}
                            </div>
                        </th>
                        <th scope="col" data-dataTable-sort="power" class="px-6 py-3 cursor-pointer">
                            <div class="w-4-rem flex items-center justify-center">
                                {{ renderSvg('power') }}
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in activities %}
                        <tr class="odd:bg-white border-b even:border-b even:bg-gray-50">
                            <td class="px-2 py-2">
                                {{ activity.getStartDate().format('d-m-y') }}
                            </td>
                            <td class="px-2 py-2 truncate">
                                {{ renderComponent('activity-title', {'activity': activity, 'ellipses': 50, asPlainText: true}) }}
                            </td>
                            <td class="px-6 py-2">
                                {{ renderComponent('measurement', {'measurement': activity.getDistance(), 'precision': 0}) }}
                            </td>
                            <td class="px-6 py-2">
                                <div class="w-4-rem">{{ renderComponent('measurement', {'measurement': activity.getElevation(), 'precision': 0}) }}</div>
                            </td>
                            <td class="px-6 py-2">
                                {{ activity.getMovingTimeFormatted() }}
                            </td>
                            <td class="px-6 py-2">
                                {{ renderComponent('measurement', {'measurement': activity.getAverageSpeed(), 'precision': 1}) }}
                            </td>
                            <td class="px-6 py-2">
                                {{ activity.getAverageHeartRate() ?? 'n/a' }}
                            </td>
                            <td class="px-6 py-2">
                                {{ activity.getCalories() }}<span class="text-xs">kcal</span>
                            </td>
                            <td class="px-6 py-2">
                                {{ activity.getAveragePower() ? activity.getAveragePower() ~ '<span class="text-xs">w</span>': 'n/a' }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endautoescape %}
        </div>
    </foreignObject>
</svg>