{% if activity.hasDetailedPowerData() %}
    <div class="grid grid-cols-1 gap-4">
        <div class="text-gray-900 border border-gray-200 rounded-lg shadow-sm">
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-center text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase">
                    {% set timeIntervals =  [5, 60, 300, 600, 1200] %}
                    {% set timeIntervalLabels = ['5s', '1m', '5m', '10m', '20m'] %}
                    {% set eftp = activity.getEFtp() %}

                    <tr>
                        {% for timeInterval in timeIntervals %}
                            {% set powerOutput = activity.getBestAveragePowerForTimeInterval(timeInterval) %}
                            {% if powerOutput %}
                                <th scope="col" colspan="2" class="px-2 py-2">
                                    {{ "Best"|trans }} {{ timeIntervalLabels[loop.index0] }}
                                </th>
                            {% endif %}
                        {% endfor %}
                        {% if eftp %}
                            <th scope="col" colspan="2" class="px-2 py-2">
                                <span class="cursor-help" data-popover-target="eftp-description" data-popover-placement="left">
                                    eFTP ⓘ
                                </span>

                                <div data-popover id="eftp-description" role="tooltip" class="hidden lg:block lowercase absolute z-100 invisible text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0">
                                    <div class="p-3 space-y-2">
                                        <p>
                                            {{ eftp.getFormattedTimeInterval() }}
                                        </p>
                                    </div>
                                </div>
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for timeInterval in timeIntervals %}
                            {% set powerOutput = activity.getBestAveragePowerForTimeInterval(timeInterval) %}
                            {% if powerOutput %}
                                <td class="px-2 py-2 first:border-l-0 border-l">
                                    {{ powerOutput.getPower() }}<span class="text-xs">w</span>
                                </td>
                                <td class="px-2 py-2 last:border-r-0 border-r">
                                    {{ powerOutput.getRelativePower() }}<span class="text-xs">w/kg</span>
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if eftp %}
                            <td class="px-2 py-2 first:border-l-0 border-l" title="{{ eftp.getTime() }}">
                                {{ eftp.getPower() }}<span class="text-xs">w</span>
                            </td>
                            <td class="px-2 py-2 last:border-r-0 border-r">
                                {{ eftp.getRelativePower() }}<span class="text-xs">w/kg</span>
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endif %}